name = "dojogenesis-com-mvp"
compatibility_date = "2024-01-01"

[build]
command = "npm run build"

[build.upload]
format = "service-worker"

[[env.production]]
name = "dojogenesis-com-mvp-production"
